{% extends "layout.html" %}

{% block title %}
    Pictures
{% endblock %}

{% block body %}

  <h1>Add a new Picture</h1>

  <form action="{{ url_for('addpicture') }}" method="post" enctype="multipart/form-data">

      <div class="form-group">
          <input class="form-control" name="description" placeholder="Description">
          <input class="form-control" name="time_period" placeholder="Time period">
          BW Preprocess: <input class="form-control" name="preprocesses" type="checkbox" checked="checked" value="blackwhite">
          <input type="file" name="picture_img">
      </div>

      <div class="form-group">
          <button class="btn btn-primary">Add picture</button>
      </div>

  </form>
{% endblock %}
